bot
.ipynb_checkpoints/bot-checkpoint.ipynb
.ipynb_checkpoints/indicators-checkpoint.ipynb
.vscode/settings.json
__pycache__/secrets.cpython-38.pyc
secrets.py
__pycache__/globals.cpython-38.pyc
bot.ipynb
indicators.ipynb
